<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>This is your Admin Dashboard</h2>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out">
    </form>
    <form class="form-group" th:action="@{/add_user}" method="get">
        <button class="btn btn-md btn-success btn-block" type="Submit">Add New User</button>
    </form>
</div>
</body>
</html>