<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">PM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
          <form th:action="@{/logout}" method="post">
          <input type="submit" value="Logout">
        </form>
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <label><h3>Ticket Tracing List</h3></label>
  <div class="col-md-12 bg-light text-right" >
    <form class="form-group" th:action="@{/feature}" method="post">
      <button type="Submit" class="btn btn-success">Create ticket</button>
    </form>
  </div>
</div>
<div class="table-responsive">
  <table id="mytable" class="table table-bordred table-striped">
    <thead>
    <th><input type="checkbox" id="checkall" /></th>
    <th>#</th>
    <th>追蹤標籤</th>
    <th>狀態</th>
    <th>優先權</th>
    <th>主旨</th>
    <th>分派給</th>
    <th>更新日期</th>
    <th>編輯</th>
    <th>刪除</th>
    </thead>
  </table>
</div>
</body>
</html>
