<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RD</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <a class="navbar-brand" href="#" ></a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-outline-secondary" type="submit" value="Logout" style="background: black">
                    </form>
                </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="dashboard-item-header col-md-13 col-sm-13 col-xs-12">
    <h3>Bug Ticket List</h3>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thread-dark">
        <tr style="visibility: hidden;">
            <td width="5px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="150px">
        </tr>
        <tr>
            <th>No.</th>
            <th>Summary</th>
            <th>Priority</th>
            <th>Severity</th>
            <th>Status</th>
            <th>Type</th>
            <th>Reporter</th>
            <th>Assignee</th>
            <th>CreateDate</th>
            <th>UpdatedDate</th>
            <th>Action</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="ticket, iterStat: ${bugTypes}" >
            <td th:text="${iterStat.count}" th:class="${iterStat.even == true ? 'text-primary' : 'text-success'}">No.</td>
            <td th:text="${ticket.summary}">Summary</td>
            <td th:text="${ticket.priority}">Priority</td>
            <td th:text="${ticket.severity}">Severity</td>
            <td th:text="${ticket.ticketStatus}">Status</td>
            <td th:text="${ticket.ticketType}">Type</td>
            <td th:text="${ticket.reporter}">Reporter</td>
            <td th:text="${ticket.assignee}">Assignee</td>
            <td th:text="${ticket.createDate}">CreateDate</td>
            <td th:text="${ticket.updatedDate}">UpdatedDate</td>
            <td>
                <a th:href="@{/update_bug_ticket/{id}(id=${ticket.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/to_json_rd/{id}(id=${ticket.id})}" class="btn btn-primary">Json</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="dashboard-item-header col-md-13 col-sm-13 col-xs-12">
    <h3>Feature Request List</h3>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thread-dark">
        <tr style="visibility: hidden;">
            <td width="5px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="50px">
            <td width="150px">
        </tr>
        <tr>
            <th>No.</th>
            <th>Summary</th>
            <th>Priority</th>
            <th>Severity</th>
            <th>Status</th>
            <th>Type</th>
            <th>Reporter</th>
            <th>Assignee</th>
            <th>CreateDate</th>
            <th>UpdatedDate</th>
            <th>Action</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="ticket, iterStat: ${featureTypes}" >
            <td th:text="${iterStat.count}" th:class="${iterStat.even == true ? 'text-primary' : 'text-success'}">No.</td>
            <td th:text="${ticket.summary}">Summary</td>
            <td th:text="${ticket.priority}">Priority</td>
            <td th:text="${ticket.severity}">Severity</td>
            <td th:text="${ticket.ticketStatus}">Status</td>
            <td th:text="${ticket.ticketType}">Type</td>
            <td th:text="${ticket.reporter}">Reporter</td>
            <td th:text="${ticket.assignee}">Assignee</td>
            <td th:text="${ticket.createDate}">CreateDate</td>
            <td th:text="${ticket.updatedDate}">UpdatedDate</td>
            <td>
                <a th:href="@{/update_feature_ticket/{id}(id=${ticket.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/to_json_rd/{id}(id=${ticket.id})}" class="btn btn-primary">Json</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
