<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ticket Tracing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
	<div class="col-md-12">
		<div class="row">
			<label><h3>Ticket Tracing List</h3></label>
			<div class="col-md-12 bg-light text-right">
				<button type="button" class="btn btn-success">新增</button>
			</div>
		</div>
		
		<div class="table-responsive">
			<table id="mytable" class="table table-bordred table-striped">
				<thead>
					<th><input type="checkbox" id="checkall" /></th>
					<th>#</th>
					<th>追蹤標籤</th>
					<th>狀態</th>
					<th>優先權</th>
					<th>主旨</th>
					<th>分派給</th>
					<th>更新日期</th>
					<th>編輯</th>
					<th>刪除</th>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" class="checkthis" /></td>
						<td>001</td>
						<td>任務</td>
						<td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
						<td>isometric.mohsin@gmail.com</td>
						<td>+923335586757</td>
						<td>王大明</td>
						<td>2020/11/19</td>
						<td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
						<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
					</tr>
					<tr>
						<td><input type="checkbox" class="checkthis" /></td>
						<td>002</td>
						<td>BUG</td>
						<td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
						<td>isometric.mohsin@gmail.com</td>
						<td>+923335586757</td>
						<td>小涫</td>
						<td>2020/11/13</td>
						<td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
						<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
					</tr>
    
    
					 <tr>
						<td><input type="checkbox" class="checkthis" /></td>
						<td>003</td>
						<td>BUG</td>
						<td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
						<td>isometric.mohsin@gmail.com</td>
						<td>+923335586757</td>
						<td>小宋</td>
						<td>2020/11/13</td>
						<td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
						<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
					</tr>
					 <tr>
						<td><input type="checkbox" class="checkthis" /></td>
						<td>004</td>
						<td>任務</td>
						<td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
						<td>isometric.mohsin@gmail.com</td>
						<td>+923335586757</td>
						<td>小美</td>
						<td>2020/11/13</td>
						<td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
						<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
					</tr>
					 <tr>
						<td><input type="checkbox" class="checkthis" /></td>
						<td>005</td>
						<td>優化</td>
						<td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
						<td>isometric.mohsin@gmail.com</td>
						<td>+923335586757</td>
						<td>阿醜</td>
						<td>2020/11/13</td>
						<td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
						<td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
					</tr>
				</tbody>
			</table>

<div class="clearfix"></div>

                
            </div>
            
        </div>
	</div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
        <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">
        
        <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-group">
        <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
    
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    
    
    
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
          <div class="modal-body">
       
       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
       
      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
	
	
</body>
</html>
